#jinja2: lstrip_blocks: "True", trim_blocks: "True"
[Unit]
Description=restic backup
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=restic
Environment="RESTIC_PASSWORD_FILE={{ restic_config_dir }}/password"
Environment="RESTIC_REPOSITORY={{ restic_repository }}"
ExecStart=/usr/bin/restic backup \
{% if restic_one_file_system %}
  --one-file-system \
{% endif %}
  --files-from={{ restic_config_dir }}/files \
  --exclude-file={{ restic_config_dir }}/exclude_patterns

ExecStartPost=/usr/bin/restic forget --prune \
  --keep-hourly={{ restic_keep_hourly }} \
  --keep-daily={{ restic_keep_daily }} \
  --keep-weekly={{ restic_keep_weekly }} \
  --keep-monthly={{ restic_keep_monthly }} \
  --keep-yearly={{ restic_keep_yearly }}

LockPersonality=true
MemoryDenyWriteExecute=no
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RemoveIPC=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallErrorNumber=EPERM
AmbientCapabilities=CAP_DAC_READ_SEARCH
CapabilityBoundingSet=CAP_DAC_READ_SEARCH
